/* 1. Estilo General: Afecta a toda la página */
body {
    font-family: "Calibri", "Candara", "Segoe UI", Optima, Arial, sans-serif; /* Cambia la letra */
    background-color: #dadada; /* Un color de fondo */
    color: #000000; /* El color del texto */
    margin: 0;
    padding: 0;
    line-height: 1.6; /* espacio entre líneas de texto */
}

/* 2. La Cabecera: El título del blog */
header {
    background-color: #2c3e50; 
    color: white;
    padding: 2rem;
    text-align: center;
}

/* 3. El Contenedor main : Para que el blog no ocupe todo el ancho de la pantalla */
main {
    max-width: 900px; /* Ancho máximo */
    margin: 20px auto; /* Centra el contenido en la pantalla */
    padding: 20px;
}

/* 4. Las Tarjetas de Receta (Los <article>) */
article {
    background: rgb(240, 240, 240);
    margin-bottom: 30px;
    padding: 25px;
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra suave para que parezca que flota */
}

/* 5. Las Imágenes: */
img {
    max-width: 100%; /* La imagen nunca será más ancha que su contenedor */
    height: auto;    /* Mantiene la proporción para que no se vea estirada */
    border-radius: 8px;
    display: block;
    margin: 15px 0;
}

/* 6. Los Enlaces: Para que parezcan botones */
a {
    color: #e67e22; /* Color naranja zanahoria */
    text-decoration: none; /* Quita el subrayado feo */
    font-weight: bold;
}

a:hover {
    color: #d35400; /* Se oscurece un poco cuando pasas el ratón por encima */
    text-decoration: underline;
}

/* 7. Cursor: Cuando pasamos el cursor por la imagen cambiamos el aspecto */
.foto-indice {
    cursor: pointer; /* Cambia el cursor a una mano */
    transition: transform 0.3s; /* Hace que el efecto de abajo sea suave */
}

/* 8. Foto indice: Cambiar el tamaño de la foto para que se vea que hay interacción */
.foto-indice:hover {
    transform: scale(1.02); /* La foto se hace un poco más grande al pasar el ratón */
}